/JavaApp1/nbproject/private/
/JavaApp2/nbproject/private/
/JavaApp1/build/
/JavaApp1/dist/
/JavaApp2/build/
/JavaApp2/dist/
/JavaApp3/nbproject/private/
/JavaApp3/build/
/JavaApp3/dist/
/JavaAppDBConnect/nbproject/private/
/JavaAppDBConnect/build/
/JavaAppDBConnect/dist/
/JavaAppUI/nbproject/private/
/JavaAppUI/build/
/ExamenCalculator/nbproject/private/
/ExamenCalculator/build/
/ExamenCalculatorUI/nbproject/private/
/ExamenCalculator/dist/
/ExamenCalculatorUI/build/
/ExamenCalculatoruI/dist/
/ExamenCalculatorUI/dist/
/Arrays/dist/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/JavaAppUI/dist/
/Examen2/nbproject/private/
/Examen2.UI/nbproject/private/
/Examen2.Componente/nbproject/private/
/Examen2.Componente/dist/
/Examen2.Componente/build/
/Examen2.UI/build/
/Examen2.UI/dist/
/Examen2.Componente2/nbproject/private/
/Examen2.Componente2/dist/
/Examen2.Componente2/build/
/Examen2.Conexiondb/nbproject/private/
/Examen2.Conexiondb/build/
/UnitTest/nbproject/private/
/UnitTest/build/
/TestPortlet/nbproject/private/
/TestPortlet/build/
/TestPortlet/dist/
/EjemploTaller2/nbproject/private/
/EjemploTaller2/dist/
/EjemploTaller2/build/